<div style='margin-top: 5rem'>
  <mat-card class="example-card">
    
    <mat-card-header>
        <mat-card-title class="page-title">Please answer the following pyschosocial questions</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
          <table class="example-full-width" cellspacing="0" style="Margin-top:30px">
            <tr>
              <td>
                <!-- Flag Evan -->
                <label id="missed-work-radio-group-label">Have you missed work due to your injury?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenMissedWork"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let missedWork of missedWork" [value]="missedWork">
                    {{missedWork}}
                  </mat-radio-button>
                </mat-radio-group>

                <label id="days-radio-group-label">If yes to 1, how many days of work have you missed?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenDays"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let days of days" [value]="days">
                    {{days}}
                  </mat-radio-button>
                </mat-radio-group>

                <label id="disability-radio-group-label">Did you go on disability due to your injury?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenDisability"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let disability of disability" [value]="disability">
                    {{disability}}
                  </mat-radio-button>
                </mat-radio-group>

                <label id="disability-long-radio-group-label">If yes to 3, approximately how long were you on disability?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenDisabilityLong"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let disabilityLong of disabilityLong" [value]="disabilityLong">
                    {{disabilityLong}}
                  </mat-radio-button>
                </mat-radio-group>

                <label id="limited-radio-group-label">If yes, are you working at your pre-injury level or at a limited capacity?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenLimited"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let limited of limited" [value]="limited">
                    {{limited}}
                  </mat-radio-button>
                </mat-radio-group>

                <label id="time-radio-group-label">Were you working full time or part time before your injury?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenTime"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let time of time" [value]="time">
                    {{time}}
                  </mat-radio-button>
                </mat-radio-group>

                <label id="now-radio-group-label">Are you working full time or part time now?</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenNow"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let now of now" [value]="now">
                    {{now}}
                  </mat-radio-button>
                </mat-radio-group>

                <!-- add this
                <label id="test-radio-group-label">This is a test question</label>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="chosenTestOption"
                  style="Margin-bottom:30px">
                  <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="testOption">
                    {{option}}
                  </mat-radio-button>
                </mat-radio-group>
                end-->

                <!-- Flag Evan End-->

              </td>
            </tr>
          </table>
          <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="submit()" color="primary">Submit</button>
    </mat-card-actions>

  </mat-card>

  <mat-card class="example-card" class="noshadow" style="Margin-top:30px; box-shadow: none">

      <mat-card-header>
          <mat-card-title class="page-title">Did you know that...</mat-card-title>
      </mat-card-header>

      <mat-card-content>
          <label id="spirometer-measurement-radio-group-label">{{currentInformativeMessage}}</label>
      </mat-card-content>
      
    </mat-card>
  
</div>